<div class="store-cart">
    <!-- <p *ngIf="_d.user.total > 0">Your Cart:</p>
    <p *ngIf="_d.user.total === 0">Your Cart Is Empty</p> -->
    <div [hidden]="!_d.cart || _d.user.status === 0">
    <!-- <div [hidden]="_d.cart.length === 0 || !_d.cart.length"> -->
      <table #tab mat-table [dataSource]="_d.cart" class="mat-elevation-z8 demo-table cart-table" >
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table"> -->

        <!-- Pic Column -->
        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef> Picture </th>
          <td mat-cell *matCellDef="let element">
              <img src={{element.pic}} alt="" width=60 height=45>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          <td mat-footer-cell *matFooterCellDef> Total:</td>
        </ng-container>
      
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="add amount" (click)="_sd.changeAmount(element.product_id,1)">
              <mat-icon>expand_less</mat-icon>
            </button>
            {{element.amount}} 
            <button mat-icon-button  aria-label="reduce amount" (click)="_sd.changeAmount(element.product_id,-1)">
              <mat-icon>expand_more</mat-icon>
            </button>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          <td mat-footer-cell *matFooterCellDef>  {{ _d.user.total+" ₪" }} </td>

        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th class="" mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab  aria-label="Remove from cart" (click)="_sd.delete(element.product_id)">
                <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>

      </table>
    </div>
    <div class="empty-message" *ngIf="_d.cart.length <= 0"> 
      <h3>Your Cart Is Empty</h3> 
    </div>
    <div class="cart-footer">
      
 
      <button mat-raised-button aria-label="Remove from cart" class="empty-cart-btn" (click)="_sd.empty()">
        Empty Cart
      </button>
      <button mat-raised-button color="primary" aria-label="Checkout" *ngIf="_d.cart.length > 0" (click)="_sd.gotoCheckout()">
        Checkout
      </button>

    </div>
    
</div>