<div class="store-cart order-cart" >
  <p>Product Search:<input type="text" (input)="_od.setSearchValue($event)">
  </p>
    <p>Your Cart:</p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="picture">
          <th class="" mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
              <img src={{element.pic}} alt="" width=40 height=30>

          </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element" #refEl> <div innerHTML = "{{element.title | highlight}}" ></div>  </td>
        </ng-container>
      
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element">
            {{element.amount}} 
            </td>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element" > {{element.price / element.amount }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 
      <br>
      <br>
      <div class="cart-footer">
       
        <p>TOTAL: {{_d.user.total > 0 ? _d.user.total : 0}} ₪</p> 
      </div>
</div>


